:root{
  --accent: rgb(234,84,51);
  --header: rgb(99,85,81);
  --bg-color: rgb(254,249,247);
  --text: rgb(87, 85, 85);
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*My Resets*/
*, *::before, *::after{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
/*General*/
html{
  font-size: 16px;
}
body{
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
}
.full-width{
  width: 100%;
  object-fit: cover;
}
.btn{
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--accent);
  color: white;
  font-size: 1rem;
  border-radius: 0.3rem;
}
.btn:hover{
  opacity: 0.5;
}
.shadow{
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}
/*container*/
.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
.padding{
  padding: 2rem 0;
}
/*flex*/
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flex-center{
  align-items: center;
  justify-content: center;
  display: flex;
}
.flex-12{
  flex: 0 1 12%;
}
.flex-15{
  flex: 0 1 15%;
}
.flex-20{
  flex: 0 1 20%;
}
.flex-25{
  flex: 0 1 25%;
}
.flex-30{
  flex: 0 1 30%;
}
.flex-40{
  flex: 0 1 40%;
}
.flex-47{
  flex: 0 1 47%;
}
.flex-48{
  flex: 0 1 48%;
}
.flex-50{
  flex: 0 1 50%;
}
.flex-55{
  flex: 0 1 55%;
}
.flex-85{
  flex: 0 1 85%;
}
/*Header*/
header{
  width: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: 99;
  background-color: white;
}
.header{
  padding: 1rem 1rem;
  margin: 0 auto;
}
strong{
  font-size: 1.5rem;
  font-weight: 800;
  color: var(--header);
}
.navbar a{
  margin-right: 2rem;
  font-size: 0.8rem;
  color: var(--header);
  font-weight: 600;
}
.navbar a:hover{
  color: var(--accent);
}
.active a{
  color: var(--accent);
}
.dropdown{
  position: relative;
}
.menu {
  position: absolute;
  background-color: white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  width: 12vw;
  padding: 10px;
  border-radius: 5px;
  display: none;
  left: 65%;
  top: 110%;
  transform: translate(-50%);
}
.dropdown:hover .menu{
  display: inline-block;
}
.menu-bar {
  margin-top: 10px;
  position: relative;
}
.sub-menu{
  background-color: white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  width: 9vw;
  padding: 8px;
  border-radius: 5px;
  position: absolute;
  display: none;
  left: 100%;
}
.menu-bar:hover .sub-menu{
  display: inline-block;
}
.deep{
  margin-top: 10px;
}
/* Sub Header */
.secondary-header {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  background-color: rgb(230, 227, 227);
}

.secondary-header nav a {
  color: var(--accent);
}

.secondary-header nav .pri-clr:hover {
  color: var(--accent);
}

.secondary-header nav .pri-clr {
  color: var(--header);
}
.secondary-header h6{
  font-size: 2rem;
}
/* Blog */
.blog article {
  margin-bottom: 2rem;
}

.blog article .space {
  padding: 1rem;
}

.blog .btn {
  margin: 1rem auto;
}
.space h6{
  font-weight: 700;
}
.space h6:hover{
 color: var(--accent)
}
.space p{
  font-size: 0.8rem;
}

.shift-right {
  text-align: right;
}

.blog-info {
  margin: 1rem auto;
  color: var(--text);
  font-size: 0.8rem;
}

.blog-info i {
  margin: 0 0.5rem;
}

.pages {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages .box {
  width: 3rem;
  height: 3rem;
  margin: 1rem 0.3rem;
  color: var(--text);
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid rgb(204, 204, 204);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pages .active {
  background-color: var(--accent);
  color: #fff;
}

.pages .box:hover {
  background-color: var(--accent);
  color: #fff;
}
/* Footer */
.footer-top {
  background-color: var(--bg-color);
  margin-right: 2rem;
}

.footer-top .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem 0;
  color: var(--text);
}

.footer-top address {
  margin: 1.5rem auto;
  font-size: 0.8rem;
}

.footer-top h4 {
  color: black;
  font-size: 2.2rem;
  margin-right: 12rem;
  margin-top: -0.5rem;
}

.footer-top a {
  margin: 0.6rem auto;
  color: var(--text);
}

.footer-top nav ul li a i {
  margin-right: 0.8rem;
  color: var(--accent);
}
.useful{
  font-weight: 800;
}
.ipsum{
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
}
.home li a:hover{
  color: var(--accent);
}
.about li{
  padding-top: 1rem;
  font-size: 0.8rem;
}
.bold {
  font-weight: 700;
  margin-right: 0.4rem;
}

.newsletter {
  width: 100%;
  height: 3rem;
  border-radius: 2rem;
  border: 1px solid rgb(226, 175, 192);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2rem auto;
}

.subscribe {
  width: fit-content;
  padding: 0 1rem;
  height: 3rem;
  border-radius: 2rem;
  background-color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.footer-bottom {
  padding: 2rem 0;
}

.footer-bottom div small {
  display: block;
  font-size: 0.8rem;
}
.footer-bottom div small b {
  font-weight: 700;
}

.footer-bottom div small .pri-clr {
  color: var(--accent);
}

.footer-nav a {
  font-size: 1.3rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
.footer-nav ul li a i{
  color: white;
  font-size: 1rem;
} 